<ActionBar title="Login" >
    <ActionItem text="Register" [nsRouterLink]="['/register']" class="btn"></ActionItem>
</ActionBar>
<StackLayout>
    <Image height="200px;" src="~/images/graffiti.png" class="m20"></Image>
    <TextField required hint="Username" [(ngModel)]="user.username" #username="ngModel" minlength="5" class="m20"></TextField>
    <TextField required hint="Password" [(ngModel)]="user.password" secure="true" #password="ngModel" minlength="8" class="m20"></TextField>
    <button text="Login" (tap)="submit()" [isEnabled]="username.valid && password.valid" class="btn orange m20"></button>
</StackLayout>