<ActionBar title="Discover" >
    <ActionItem [nsRouterLink]="['/post']" android.systemIcon="ic_menu_add"></ActionItem>
    <ActionItem (tap)="logout()"><Button text="Log out" (tap)="logout()"></Button></ActionItem>
</ActionBar>
<StackLayout>
  <DropDown #dd class="dropdown" [items]="categories" (selectedIndexChanged)="onSelectCategory($event)"></DropDown>
  <GridLayout class="page">
    <CollectionView [items]="photos" colWidth="46%" rowHeight="150" #collection>
      <ng-template let-item="item">
        <StackLayout margin="7" [nsRouterLink]="['/image', item.id]"  borderRadius="5" class="list-group-item photoWrapper" >
          <Image [src]="item.url" class="list-group-item" borderRadius="5" stretch="aspectFill"></Image>
        </StackLayout>
      </ng-template>
    </CollectionView>
  </GridLayout>
</StackLayout>
