<StackLayout>
        <TextField required hint="Username" [(ngModel)]="user.username" #username="ngModel" minlength="5"></TextField>
        <TextField required hint="Password" [(ngModel)]="user.password" secure="true" #password="ngModel" minlength="8"></TextField>
        <TextField required hint="Confirm password" [(ngModel)]="passwordConfirm" secure="true" #passRepeat="ngModel" minlength="8"></TextField>
        <Label class="validation" [visibility]="invalid ? 'visible' : 'collapse'" text="{{error}}" ></Label>
        <button text="Register" (tap)="submit()" [isEnabled]="username.valid && password.valid && passRepeat.valid"></button>
        <button text="Login" [nsRouterLink]="['/login']"></button>
</StackLayout>